@keyframes brackets-loading{
    0%{
        transform: rotatex(0deg);
    }
    50%{
        transform: rotatex(180deg);
    }
    51%{
        transform: rotatey(0deg);
    }
    100%{
        transform: rotatey(-180deg);
    }

}

@keyframes load-music{
	0{
		height: 40px;
	}
	50%{
		height: 18px;
	}
	100%{
		height: 40px;
	}
}

@keyframes line-load{
	0{
		transform: scaley(1);
	}
	50%{
		transform: scaley(0.4);
	}
	100%{
		transform: scaley(1);
	}
}

@keyframes load_baidu{
	from{
		transform: scale(0.6);
		background: rgba(221,221,221,0.5);
	}
	to{
		transform: scale(1);
		background: #ddd;
	}
}
