.hide{
    display: none;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-uppercase{
    text-transform: uppercase
}
.m-0 {
  margin: 0px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

/*
 * Generate Padding Class
 * padding, padding-top, padding-bottom, padding-left, padding-right
 */

.p-0 {
  padding: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}


.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.col-1,.flex-item{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.col-2{
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.col-3{
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}
.col-4{
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}
.col-5{
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}
.col-6{
    -webkit-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
}
.col-7{
    -webkit-box-flex: 7;
    -ms-flex: 7;
    flex: 7;
}
.col-8{
    -webkit-box-flex: 8;
    -ms-flex: 8;
    flex: 8;
}
.col-9{
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
}
.placeholder{
    margin: 5px;
    padding: 30px 0;
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
    background-color: #ebebeb;
    color: #cfcfcf;
}
.block-border{
    border: 1px solid #eaeefb;
    border-radius: 4px;
    -webkit-transition: .2s;
    transition: .2s;
}
[class *='bgc-']{
    color: #fff!important;
}

.bgc-red{
    background-color: #F44336!important;    
}
.bgc-pink{
    background-color: #E91E63!important;    
}
.bgc-purple{
    background-color: #9C27B0!important;    
}
.bgc-deeppurple{
    background-color: #673AB7!important;    
}

.bgc-indigo{
    background-color: #3F51B5!important;    
}
.bgc-blue{
    background-color: #2196F3!important;    
}
.bgc-lightblue{
    background-color: #03A9F4!important;    
}
.bgc-cyan{
    background-color: #00BCD4!important;    
}

.bgc-teal{
    background-color: #009688!important;    
}
.bgc-green{
    background-color: #4CAF50!important;    
}
.bgc-lightgreen{
    background-color: #8BC34A!important;    
}
.bgc-lime{
    background-color: #CDDC39!important;    
}

.bgc-yellow{
    background-color: #FFEB3B!important;    
}
.bgc-amber{
    background-color: #FFC107!important;    
}
.bgc-orange{
    background-color: #FF9800!important;    
}
.bgc-deeporange{
    background-color: #FF5722!important;    
}

.bgc-brown{
    background-color: #795548!important;    
}
.bgc-gray{
    background-color: #9E9E9E!important;    
}
.bgc-bluegray{
    background-color: #607D8B!important;    
}
.bgc-black{
    background-color: #000000!important;    
}
.bgc-nepal{ 
    background: #de6161; 
    background: -webkit-linear-gradient(to left, #de6161 , #2657eb);
    background: -webkit-linear-gradient(right, #de6161 , #2657eb);
    background: linear-gradient(to left, #de6161 , #2657eb);           
}
.bgc-mojito{  
    background: #1D976C; 
    background: -webkit-linear-gradient(to left, #1D976C , #93F9B9);
    background: -webkit-linear-gradient(right, #1D976C , #93F9B9);
    background: linear-gradient(to left, #1D976C , #93F9B9);         
}
.bgc-mi{
    background: #172344; 
    background: -webkit-linear-gradient(to left, #172344 , #328db3);
    background: -webkit-linear-gradient(right, #172344 , #328db3);
    background: linear-gradient(to left, #172344 , #328db3);       
}
.bgc-80s-purple{  
    background: #41295a; 
    background: -webkit-linear-gradient(to left, #41295a , #2F0743);
    background: -webkit-linear-gradient(right, #41295a , #2F0743);
    background: linear-gradient(to left, #41295a , #2F0743); 
}
.bgc-brady{
    background: #00c3ff; 
    background: -webkit-linear-gradient(to left, #00c3ff , #ffff1c);
    background: -webkit-linear-gradient(right, #00c3ff , #ffff1c);
    background: linear-gradient(to left, #00c3ff , #ffff1c);         
} 
.bgc-cosmic{
    background: #ff00cc; 
    background: -webkit-linear-gradient(to left, #ff00cc , #333399);
    background: -webkit-linear-gradient(right, #ff00cc , #333399);
    background: linear-gradient(to left, #ff00cc , #333399);           
}
.bgc-azure{
    background: #ef32d9; 
    background: -webkit-linear-gradient(to left, #ef32d9 , #89fffd);
    background: -webkit-linear-gradient(right, #ef32d9 , #89fffd);
    background: linear-gradient(to left, #ef32d9 , #89fffd);          
}
.bgc-lovecouple{
    background: #3a6186; 
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e);
    background: -webkit-linear-gradient(right, #3a6186 , #89253e);
    background: linear-gradient(to left, #3a6186 , #89253e);         
}
.bgc-disco{
    background: #4ECDC4; 
    background: -webkit-linear-gradient(to left, #4ECDC4 , #556270);
    background: -webkit-linear-gradient(right, #4ECDC4 , #556270);
    background: linear-gradient(to left, #4ECDC4 , #556270);             
}
.bgc-dania{
    background: #BE93C5; 
    background: -webkit-linear-gradient(to left, #BE93C5 , #7BC6CC);
    background: -webkit-linear-gradient(right, #BE93C5 , #7BC6CC);
    background: linear-gradient(to left, #BE93C5 , #7BC6CC);         
}
.bgc-50shades{
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50);
    background: -webkit-linear-gradient(right, #bdc3c7 , #2c3e50);
    background: linear-gradient(to left, #bdc3c7 , #2c3e50);         
}
.bgc-dusk{
    background: #ffd89b; 
    background: -webkit-linear-gradient(to left, #ffd89b , #19547b);
    background: -webkit-linear-gradient(right, #ffd89b , #19547b);
    background: linear-gradient(to left, #ffd89b , #19547b);         
}
.bgc-delhi{
    background: #808080; 
    background: -webkit-linear-gradient(to left, #808080 , #3fada8);
    background: -webkit-linear-gradient(right, #808080 , #3fada8);
    background: linear-gradient(to left, #808080 , #3fada8);             
}
.bgc-frost{
    background: #000428; 
    background: -webkit-linear-gradient(to left, #000428 , #004e92);
    background: -webkit-linear-gradient(right, #000428 , #004e92);
    background: linear-gradient(to left, #000428 , #004e92);         
}
.bgc-mauve{
    background: #42275a; 
    background: -webkit-linear-gradient(to left, #42275a , #734b6d);
    background: -webkit-linear-gradient(right, #42275a , #734b6d);
    background: linear-gradient(to left, #42275a , #734b6d);            
}
.bgc-royal{
    background: #141E30; 
    background: -webkit-linear-gradient(to left, #141E30 , #243B55);
    background: -webkit-linear-gradient(right, #141E30 , #243B55);
    background: linear-gradient(to left, #141E30 , #243B55);            
}
.bgc-sky{  
    background: #005C97; 
    background: -webkit-linear-gradient(to left, #005C97 , #363795);
    background: -webkit-linear-gradient(right, #005C97 , #363795);
    background: linear-gradient(to left, #005C97 , #363795);         
}
.bgc-timber{
    background: #fc00ff; 
    background: -webkit-linear-gradient(to left, #fc00ff , #00dbde);
    background: -webkit-linear-gradient(right, #fc00ff , #00dbde);
    background: linear-gradient(to left, #fc00ff , #00dbde);             
}
.bgc-turboscent{
    background: #F1F2B5; 
    background: -webkit-linear-gradient(to left, #F1F2B5 , #135058);
    background: -webkit-linear-gradient(right, #F1F2B5 , #135058);
    background: linear-gradient(to left, #F1F2B5 , #135058);         
}
.bgc-virgin{
    background: #7b4397; 
    background: -webkit-linear-gradient(to left, #7b4397 , #dc2430);
    background: -webkit-linear-gradient(right, #7b4397 , #dc2430);
    background: linear-gradient(to left, #7b4397 , #dc2430);         
}
.bgc-turquoise{
    background: #136a8a; 
    background: -webkit-linear-gradient(to left, #136a8a , #267871);
    background: -webkit-linear-gradient(right, #136a8a , #267871);
    background: linear-gradient(to left, #136a8a , #267871);         
}
.bgc-flickr{    
    background: #ff0084; 
    background: -webkit-linear-gradient(to left, #ff0084 , #33001b);
    background: -webkit-linear-gradient(right, #ff0084 , #33001b);
    background: linear-gradient(to left, #ff0084 , #33001b);         
}

.text-danger{
    color:#F44336; 
}
.text-info{
    color:#2196F3; 
}
.text-success{
    color:#4CAF50; 
}
.text-warning{
    color:#FFC107; 
}

.table{
    width: 100%;
    text-align: left;
    border: 1px solid #dfe6ec;
    border-collapse: collapse;  /*为表格设置合并边框模型*/
}
td,th{
    padding: 12px 20px;
}
.table thead th{
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    background: #eef1f6;  
    border-bottom: 1px solid #dfe6ec;
}

.table tbody td{
    border-bottom:1px solid #dfe6ec; 
}
.table tbody tr:last-child td{
    border-bottom: 0;
}
.table tbody tr:hover td{
    background: #eef1f6!important;
}

.table .tr-danger td{
    background: #f2dede;
}
.table .tr-success td{
    background: #dff0d8;
}
.table .tr-info td{
    background: #d9edf7;
}
.table .tr-warning td{
    background: #fcf8e3;
}

.table-border thead th{
    border-left: 1px solid #dfe6ec;     
}
.table-border tbody td{
    border-bottom: 1px solid #dfe6ec;
    border-left: 1px solid #dfe6ec;    
}
.table-border tbody td:first-child,.table-border thead th:first-child{
    border-left: 0;
}

.table-striped tbody tr:nth-of-type(odd) td{
    background: #fff;
}
 .table-striped tbody tr:nth-of-type(even) td{
    background: #fafafa;
}

.thead-fixed thead{
    display: block;
}
.thead-fixed thead{
    background:#eef1f6; 
}
.thead-fixed thead tr{
    width: calc(100% - 5px);
}
.thead-fixed tr{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.thead-fixed thead tr th,.thead-fixed tbody tr td{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.thead-fixed tbody{
    display: block;
    height: 300px;
    overflow: auto;
}
.content{
    padding-top:64px;
    padding-left: 160px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 64px;
    z-index: 999;
    background: #fff;
    box-shadow: 0 2px 6px rgba(136,156,176,0.25);
    zoom:1;
}
.head-content{
    height: 64px;
    line-height: 64px;    
    width: 100%;
    min-width: 1160px;     
}
.container{
    padding: 22px 42px;
    background: #fff;
}
.page-title{
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #555;
}
.card{
    width: 100%;
    min-height: 220px;
    background: #fff;   
    box-shadow: 0 4px 6px 0 rgba(119,151,195,0.1);
    border-radius: 3px;
    border-bottom: 1px solid #e3e6ea;
}
.card-hd{
    height: 44px;
    line-height: 44px;
    padding-left: 14px;
    background: #f5f7fa;
    font-size: 16px;
    color: #333940;
}
.card-padding{
    padding: 15px 30px;
}
.group-row{
    margin-bottom: 24px;
}
.group-title{
    font-size: 16px;
    margin-bottom: 12px;
    color: #777;
}

.nav{
    position: fixed;
    left: 0;
    top: 64px;
    z-index: 1000;
    width: 160px;
    height: 100%;
    box-shadow: 0 2px 6px rgba(136,156,176,0.25);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.nav.toggled{
    width: 80px;   
    text-align: center;
}
.nav.toggled .main-menu li a {
    padding: 16px;
} 
.nav.toggled .main-menu>li>a>i{
    font-size: 24px;    
}
.nav.toggled .main-menu>li>a>span{
    display: block;
    margin-top: 5px;
}
.nav.toggled .nav-arrow{
    display: none;
}
.nav.toggled+.content{
    padding-left: 80px;
}
.nav.toggled+.content .head-logo{
    width: 80px;
    overflow: hidden;
}
.nav.toggled+.content .head-logo a{
    font-size: 15px;
    padding: 0 3px;
}
.main-menu li{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.main-menu li a{
    display: block;
    position: relative;
    padding: 20px 0 20px 20px;
    white-space: nowrap;
    font-size: 14px;
}
.nav-arrow{
    float: right;
    font-size: 14px;
    margin-right: 10px;
}
.main-menu>li.active .sub-menu{
    display: block;
}
.sub-menu{
    display: none;
}
.sub-menu li a{
    padding-left: 43px;
}
.badge{
    display: inline-block;
    line-height: normal;
    padding: 1px 5px;
    border-radius: 2px;
    font-size: 10px;
}
.nav-foot{
    position: absolute;
    bottom: 64px;
    left: 0;
    width: 100%;
    line-height: 40px;
    text-align: center;
}
.nav-foot a{
    display: inline-block;
    padding: 0 15px;
}
.nav-foot i.font-icon{
    font-size: 18px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
.radio{
    display: inline-block;
    position: relative;
    margin-right: 20px;
    background: transparent;	
    cursor: pointer;
}
.radio-label{
    font-size: 14px;
}
.radio input,.radio-btn input{
    opacity: 0;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.radio>i.radio-helper{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 5px;
    vertical-align: text-bottom;
    background: transparent;
}
.radio>i.radio-helper:before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #999;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.radio>i.radio-helper:after{
    content: "";
    width: 12px;
    height: 12px;
    background: #20a0ff;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}
.radio>input[type='radio']:checked+.radio-helper:after{
    opacity: 1;
}
.radio>input[type='radio']:checked+.radio-helper:before{
    border-color: #20a0ff;
}
.radio.disabled{
    cursor: not-allowed;    
}
.radio.disabled i.radio-helper:before{
    border-color: #eef1f6!important;   
    cursor: not-allowed;
}
.radio.disabled i.radio-helper:after{
    background: #eef1f6;
    cursor: not-allowed;
}
.radio-btn{
    float: left;
}
.radio-btn .radio-label{
    display: inline-block;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #bfcbd9;
    border-left: 0;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.radio-group .radio-btn:first-child .radio-label{
    border-left: 1px solid #bfcbd9;
    border-radius: 4px 0 0 4px;
}
.radio-group .radio-btn:last-child .radio-label{    
    border-radius: 0 4px 4px 0;
}
.radio-btn>input:checked+.radio-label{
    background: #20a0ff;
    color: #fff;
    border-color: #20a0ff;
}
.radio-btn.disabled .radio-label{ 
    color: #bfcbd9!important;
    cursor: not-allowed;
    background-image: none;
    background-color: #eef1f6!important;
    border-color: #d1dbe5!important;
    box-shadow: none;
}








