@font-face {
  font-family: 'iconfont';  /* project id 297713 */
  src: url('//at.alicdn.com/t/font_c1us1m89eyqoajor.eot');
  src: url('//at.alicdn.com/t/font_c1us1m89eyqoajor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_c1us1m89eyqoajor.woff') format('woff'),
  url('//at.alicdn.com/t/font_c1us1m89eyqoajor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_c1us1m89eyqoajor.svg#iconfont') format('svg');
}
.font-icon{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body,html{
    height: 100vh;    
    color: #333;
    font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif!important;
}
a:not(.a-link){
    color: #333;
    text-decoration: none;
}
a:not(.a-link):hover,a:not(.a-link):focus,a:not(.a-link):active,a:not(.a-link):visited{
    text-decoration: none;
}
.a-link{
    padding: 0 0.1rem;
    color: #108ee9;
    text-decoration: underline;
}
.app{
    width: 10rem;
    height: 100%;
    margin: 0 auto;
    background: #f4f4f4; 
    box-sizing: border-box;
}
.app { 
    font-size: 12px; 
} 
[data-dpr="2"] .app { 
    font-size: 24px; 
} 
[data-dpr="3"] .app { 
    font-size: 36px; 
}
.panel{
    padding: 0.5rem 1rem;
}
.btn-panel .btn{
    margin-bottom: 0.6rem;
}
.btn{
    display: inline-block;
    width: 100%;
    padding: 0 .04rem;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.4rem;
    text-align: center;    
    border-radius: .08rem;   
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -webkit-background-clip: padding-box;
    -webkit-box-sizing: border-box;
}
.btn.bg-blue:active{
    background: #1284d6;
}
.btn.bg-white:active{
    border-color: #ddd;
    background-color: #ddd;
}
.bg-blue{
    color: #fff;
    background-color: #108ee9;
}
.bg-white{
    border: 1px solid #ddd;
    color: #000;
    background-color: #fff;
}
#content{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}
.btn-theme{
    color: #fff;
    background-color: #06e5ca;
    background-image: -webkit-linear-gradient(270deg, #06e5ca 0%, #06d6d4 50%, #06e5ca 100%);
    background-image: -moz-linear-gradient(270deg, #06e5ca 0%, #06d6d4 50%, #06e5ca 100%);
    background-image: -o-linear-gradient(270deg, #06e5ca 0%, #06d6d4 50%, #06e5ca 100%);
    background-image: linear-gradient(270deg, #06e5ca 0%, #06d6d4 50%, #06e5ca 100%);
    box-shadow: 0 2px 5px rgba(6, 229, 202, 0.16), 0 2px 10px rgba(6, 214, 212, 0.12);
}
















.tabbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 1.30667rem;
    background-color: #fafafa;
    border-top: 1px solid #d9d9d9;
    position: fixed;
    bottom: 0;
    left: 0;
}
.tabbar>a{
    position: relative;
    padding-top: 0.1rem;
    text-align: center;
}
.tabbar>a i{
    font-size: 0.533rem;
}
.tabbar>a p{
    display: block;
    margin-top: .09333rem;
    font-size: .32rem;
    color: #666;
    line-height: 1;
}
.list{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
.item{
    flex: 1;
    padding: 0.5rem;
    margin-bottom: 0.203125rem;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    transform-origin: 20% center;    
}
.top-img{
    width: 100%;
    height: auto;
}
.top-img{
    width: 100%;
    margin-bottom: 0;
}
.am-tab{
    display:flex;
    background: #fff;
}
.am-tab-item{
    display: block;
    -webkit-flex: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    font-size: 0.4rem;
    text-align: center;
    line-height: 1.2rem;
    margin: 0;
    border-bottom: 2px solid transparent;
    color: #000;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
    -webkit-appearance: none;
    position: relative;
}
.am-tab-item.selected{
    color: #00bca4;
}
.am-tab-item.selected:after{
    content: "";
    display: block;
    width: 40%;
    height: 4px;
    background: #00bca4;
    position: absolute;
    bottom: 0;
    left: 30%;
}
.paper{
    width: 7rem;
    margin: 0rem auto;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
.paper-head{
    text-align: center;
}
.paper-head h2{
    font-size: 1rem;
    color: #3c3c3c;
}
.paper-head p{
    font-size: 0.4rem;
}
.fenge{
    margin: 0.6rem 0;
    position: relative;
    border-bottom: 1px dashed #d9d9d9;
}
.fenge:before,.fenge:after{
    content: '';
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    background: red;
    border-radius: 50%;
    background: #f4f4f4;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.fenge:before{
    left: -1.3rem;
}
.fenge:after{
    right: -1.3rem;
}
.form-info-list{
    margin-bottom: 0.6rem;
}
.form-info-item {
    line-height: 0.7rem;
    font-size: 0.4rem;
}