*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul,li{
    list-style: none;
}
body{
    line-height: 20px;
    background-color: #e1e1e1;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}
blockquote{
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;    
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.empty-area{
    padding: 100px 50px;
    text-align: center;
    font-size: 18px;
}
.navbar{
    margin-bottom: 0;
    z-index: 9;
    width: 100%;
    position: relative;
    background: #444;
    font-size: 13px;
    overflow: visible;
    
    .navbar-inner{
        background: 0 0;
        border-radius: 0;
        border: none;
        box-shadow: none;
        width: 90%;
        margin: auto;
        padding: 5px;
        min-height: 40px;
    }
    .navbar-inner:after, .navbar-inner:before {
        display: table;
        line-height: 0;
        content: "";
    }
    
    .container {
        width: 100%;
        min-width: 960px;
        height: 40px;
        margin: 0 auto;
        max-width: 1400px;
        overflow: hidden;
    }
    .brand{
        width: 120px;
        padding: 3px 20px;
        height: 28px;
        display: block;
        float: left;
        margin-left: -20px;
        
        img{
            width: auto\9;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            border: 0;
            -ms-interpolation-mode: bicubic;    
        }
    }
    .nav.pull-right{
        float: right;
        margin-right: 0;
        
        >li{
            float: left;
            
            >a{
                display: block;
                float: none;
                padding: 10px 15px;
                text-decoration: none;
                text-shadow: none;
                color: #ccc;
            }
        }
    }
}
.container-fluid:after, .container-fluid:before, .container:after, .container:before {
    display: table;
    line-height: 0;
    content: "";
}
.form-horizontal{
    margin-top: 40px;
    margin-left: 100px;
    
    .control-group{
        margin-bottom: 20px;
        
        
        .control-label{
            float: left;
            width: 160px;
            padding-top: 5px;
            text-align: right;
        }
        
        .controls{
            margin-left: 180px;  
            
            input,select,textarea{
                display: inline-block;
                min-width: 600px;
                height: 34px;
                padding: 4px 6px;
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 20px;
                color: #555;
                vertical-align: middle;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                outline: none;
                border: 1px solid #d9d9d9;
            }
            textarea{
                resize: none;
                min-height: 200px;
            }
        }
    }
    
    .btn{
        border: none;
        display: inline-block;
        float: none;
        padding: 3px 10px;
        margin: 0;
        font-size: 14px;
        transition: all .2s ease-in-out;
        letter-spacing: 2px;
        box-shadow: none;
        line-height: 2em;
        vertical-align: middle;
        color: #fff;
        cursor: pointer;
    }
}


#main{
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 15px auto;
    min-height: 400px;
    
    .panel:first-child{
        margin-top: 0;
    }
    .panel{
        margin-top: 15px;
        border-radius: 5px;
        background-color: #fff;
        overflow: hidden;
        
        li{
            line-height: 2em;
        }
        
        .header{
            padding: 10px;
            font-size: 14px;
            background-color: #f6f6f6;
            
            .topic-tab{
                margin: 0 10px;
                color: #80bd01;
            }
            .topic-tab.router-link-exact-active{                
                background-color: #80bd01;
                color: #fff;
                padding: 3px 4px;
                border-radius: 3px;   
            }
            
            .topic-tab.current-tab {
                background-color: #80bd01;
                color: #fff;
                padding: 3px 4px;
                border-radius: 3px;
            }
            
            .breadcrumb{
                padding: 0;
                margin: 0;
                border: none;
                background: 0 0;

                >li{
                    display: inline-block;
                }
                
                a{
                    color: #80bd01;
                }
                .divider{
                    padding: 0 5px;
                    color: #ccc;
                }
            }  
        }
        
        .topic-header{
            background-color: #fff; 
            border-bottom: 1px solid #e5e5e5;
        }
        .topic_full_title{
            font-size: 22px;
            font-weight: 700;
            margin: 8px 0;
            display: inline-block;
            vertical-align: bottom;
            width: 75%;
            line-height: 130%;
            
            span{
                margin-right: 15px;
            }
        }
        .changes{
            font-size: 12px;
            color: #838383;
            
            span:before{
                content: "•";
            }
        }
        .topic-list li{
            padding: 10px;
            background: #fff;
            border-top: 1px solid #f0f0f0;
            overflow: hidden;
            vertical-align: middle;
            
            .user_avatar{                
                
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 3px;
                    vertical-align: middle;
                }
            }
            
            .user_avatar~*{
                padding-top: 7px;
            }
            
            .reply_count{
                width: 70px;
                display: inline-block;
                text-align: center;
                font-size: 14px;
                
                span:first-child{
                    color: #9e78c0;
                }
                span:nth-of-type(2){
                    margin: 0 -3px;
                    font-size: 10px;
                }
                span:last-child{
                    font-size: 10px;
                    color: #b4b4b4;
                }
            }
            
            .topic_title{
                margin-left: 10px;
                color: #333;
            }
            
            .last_active_time{
                text-align: right;
                min-width: 50px;
                display: inline-block;
                white-space: nowrap;
                color: #778087;
                font-size: 11px;
            }
        }
        
        .replies li.reply_highlight{
            background-color: #f4fcf0;
        }
        .replies>ul>li{
            padding: 10px;
            position: relative;
            font-size: 14px;
            background: #fff;
            border-top: 1px solid #f0f0f0;
            
            
            .author_content{
                .user_avatar{
                    display: inline-block;
                    float: left;
                    
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 3px;
                    }
                }
                .user_info{
                    margin-left: 10px;
                    display: inline-block;
                    
                    a{
                        color: #666;
                    }
                    
                    .reply_time{
                        font-size: 11px;
                    }
                }
                
                .user_action{
                    float: right;
                    margin-left: 20px;
                    font-size: 15px;
                    
                    .up-count{
                        color: gray;
                    }
                }
                
            }
            .reply_content{
                padding-left: 50px;
                color: #333;
            }
        }
        
        .userinfo{
            padding: 10px;
            border-top: 1px solid #e5e5e5;
            
            .user_big_avatar{
                float: left;
                margin-right: 10px;
                
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 3px;
                }
            }
            
            .user_big_avatar+a{
                color: #778087;
            }
            
            .user_profile{
                margin-top: 20px;
                clear: left;
                font-size: 14px;
                color: #778087;
                
                li:first-child{
                    color: #333;
                }
                
                li a{
                    color: #778087;
                }
            }
            
            .col_fade{
                margin: 20px 0;
                color: #778087;
                font-size: 14px;
            }
        }
    }
    
    .put_good, .put_top{
        background: #80bd01;
        padding: 2px 4px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
    .topiclist-tab{
        background-color: #e5e5e5;
        color: #999;
        padding: 2px 4px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        font-size: 12px;
        text-align: center;
    }
    .topic_content{
        margin: 30px;        
    }
    .markdown-text{
        >:first-child, .preview>:first-child{
            margin-top: 0;
        }
        
        h1{
            font-size: 32.5px;
            margin: 30px 0 15px;
            line-height: 40px;
            border-bottom: 1px solid #eee;
        }
        h2{
            font-size: 26px;
            margin: 30px 0 15px;
            line-height: 40px;
            border-bottom: 1px solid #eee;
        }
        h3{
            font-size: 24.5px;
            margin: 30px 0 15px;
            line-height: 40px;
            border-bottom: 1px solid #eee;
        }
        p{
            font-size: 15px;
            line-height: 1.7em;
            overflow: auto;
        }
        
        ul{
            padding: 0;
            margin: 0 0 10px 25px;
        }
        
        li{
            list-style: disc;
            font-size: 14px;
        }
        
        
        
        table{
            max-width: 100%;
            background-color: transparent;
            padding: 0;
            border-collapse: collapse;
            border-spacing: 0;
            font: inherit;
            
            tr{
                border-top: 1px solid #ccc;
                background-color: #fff;
                margin: 0;
                padding: 0;
                
                th{
                    border: 1px solid #ccc;
                    text-align: left;
                    margin: 0;
                    padding: 6px 13px;
                }
                td{
                    border: 1px solid #ccc;
                    text-align: left;
                    margin: 0;
                    padding: 6px 13px;
                }
            }
            tr:nth-of-type(2n){
                background: #f8f8f8;
            }
        }
    }
    
}
.divider+span{
    color: #999;
}